.header {
    width: 100%;
    background-color: brown;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
}

.logo-container {
    display: flex;
    flex-flow: row;
    align-items: center;
}

main {
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 50px;
    justify-content: space-evenly;
}

.pixel-art-card {
    padding: 5px;
    display: flex;
    flex-flow: column;
    row-gap: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}